<%- include("header", {title: title}); %>

<body>
<div class="flex-container">
    <div class="search-container">
        <form action="/search">
            <input type="text" name="search" placeholder="Search movie..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <% for (const row of res) { %>
        <div class="card">
            <%
                let placeholder = row.Poster !== "N/A";
                let poster = placeholder ? row.Poster : "./images/image-icon.svg";
            %>

            <a href="/about/<%= row.imdbID %>">
                <div class="<%= placeholder ? "poster" : "placeholder" %>">
                    <img src="<%= poster %>"/>
                </div>
                <div class="info">
                    <h1><%= row.Title %></h1>
                </div>
                <div class="overlay">
                    <% if (row.imdbRating !== "N/A" && row.imdbRating !== undefined) { %> <h2><%= row.imdbRating%>/10</h2>
                    <% } %>
                    <h2><%= row.Genre %></h2>
                    <h2><%= row.Year %></h2>
                </div>
            </a>
        </div>

    <% } %>
</div>
</body>

</html>
